{% extends "index.html" %}

<!-- Block for all custom scripts-->
{% block scripts %}
    <script type="text/javascript" src="{{STATIC_URL}}scripts/tm.accordion.js"></script>
{% endblock %}


<!-- Block for tasks -->
{% block content %}
<div id="accordion">
{% for task in tasks %}
    <div>
        <h3>
            <a href="#">{{ task.assigned_to_date }} {{task.task_title}}
            </a>
        </h3>

        <div>
            <p>{{ task.description }}</p>
            <p>{{ task.task_create_date }}</p>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
