{% extends "index.html" %}

<!-- Block for all custom scripts-->
{% block scripts %}
    <script type="text/javascript" src="{{STATIC_URL}}scripts/tm.accordion.js"></script>
{% endblock %}


<!-- Block for tasks -->
{% block content %}
<div id="accordion">
{% for task in tasks %}
    <h3>
        <a href="#">{{task.task_title}}
        </a>
        <p>{{ task.assigned_to_date }}
        </p>
    </h3>
    <div>
    <p>{{ task.description }}</p>
    <p>{{ task.task_create_date }}</p>
    </div>
{% endfor %}
</div>
{% endblock %}
